
h1 {
    color: #535e97;
}

h2 {
    color: #535e97;
}

h3 {
    color: #535e97;
}

h4 {
    color: #535e97;
}

h5 {
    color: #535e97;
}

h6 {
    color: #535e97;
}

html {
    background-color: #e3d8f3;
}